
body{
	background-image: url("../img/fondo2.jpg");
	font-size: 100%;
}
li {
    float: left;	/*los pone a la izq horizontalmente*/
    font-size: medium;
}

li a {
	display: block;	/*la menera en que se ven los items, como bloques*/
    color: white;
    padding: 15px 20px;
    text-decoration: none;	/*quita el subrayado del enlace*/
}
.img{
	display: block;
	margin: auto;
}
.menu_principal{
  	margin: auto;
  	border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background: rgba(0,0,0,0.5);
  	text-align: center;
  	color: white;
  	font-size: xx-large;
}


/*a:hover:not(.active) {	/*no cambia .active

    background-color: #111;
    background: #4CAF50;
}*/
a:hover{
	background: #4CAF50;
}


a{
  width: 230px;
  margin: 15px;
  font-size:large;
  font-weight: bold;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.div-titulo-reservacion{
  background-color: black;
  color: white;
  font-size: x-large;
}

.div-lista-solicitudes{

  background: rgba(0, 0, 0, 0.5);
  margin: 15px;
	padding: 20px;
}

.div-reservaciones-hoy{

  background: rgba(0, 0, 0, 0.5);
  margin: 15px;
  padding: 20px;
}

.div-solicitudes{
  margin: 15px;
  color: white;
  border: 2px solid red;
  border-radius: 1em;
  padding: 10px;
  font-size: large;
}

.div-solicitudes label{
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.div-buscar{
	background: rgba(0, 0, 0, 0.5);
  margin: 15px;
  padding: 20px;
}

.div-menu{

		text-align: center;

}

.div-menu a{
  width: 230px;
  height: 10px;
  margin: 5px;
  font-size:large;

}

.div-menu a:link,.div-menu a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.div-menu a:hover,.div-menu a:active {
    background-color: red;
}

.atras{
  margin:15px;

}
.atras a{
  width: 230px;
  margin: 15px;
  padding: 5px;
  font-size:large;
  font-weight: bold;
}

.atras a:link,.atras a:visited {
    background-color: black;
    color: white;

    /*padding: 14px 25px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.atras a:hover,.atras a:active {
    background-color: red;
}

.buscador{
    text-align: center;
    margin: 15px;
    padding: 15px;
}
.buscador label{
  font-size: x-large;
  color: white;
  margin: 5px;
}

.buscador input{
  margin: 15px;
}

.buscador button{
    background-color: #333; /* Green */
    border: solid black;
    color: white;
    width: 200px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
}

.buscador button:hover{
  background: #4CAF50;
  cursor: pointer;
}