
body{
	background-image: url("../img/fondo2.jpg");
	font-size: 100%;
}

.img{
	display: block;
	margin: auto;
}
.menu_principal{
	/*margin-left: 100px;
  	margin-right: 100px;
  	margin-top: 0px;
  	margin-bottom: 200px;*/
  	margin: auto;
  	border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background: rgba(0,0,0,0.5);
  	/*opacity: 0.5;*/


  	text-align: center;
  	color: white;
  	font-size: xx-large;
}

.menus {
    list-style-type: none;	/*le quita el estilo que pueda tener por eso que son listas*/
    margin: auto;
    padding: 0;
    overflow: hidden;	/*specifies what to do if the content of an element exceeds the size of the element's box.*/
    background-color: #333;	/*color de fondo */
}
.menus li > ul{
	list-style: none;
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	min-width: 140px;
	background: #333;
}
.menus li:hover > ul{
	display: block;
}

/*a:hover:not(.active) {	/*no cambia .active

    background-color: #111;
    background: #4CAF50;
}*/
a:hover{
	background: #4CAF50;
}

.content_platillos{
	margin: auto;
	margin-top: 10px;
	height: 550px;
	background: #CC9933;
	opacity: 0.5;
	z-index: -1;
}
/*.active {
	background-color:#4CAF50;
}*/

.opciones1{
	float: left;
  margin: 150px;
  overflow: auto;
}

.opciones2{
  float: right;
  margin: 150px;
  overflow: auto;
}

a{
  width: 230px;
  margin: 15px;
  font-size:large;
  font-weight: bold;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

.contenedor-nuevo{
	background: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: large;
	font-weight: bold;
	padding: 15px;
	margin: 20px;
}

.contenedor-modificar{
	margin: 20px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
}
.titulo-nuevo{
	font-size: xx-large;
	font-weight: bold;
	padding: 15px;
	text-align: center;
}
.titulo-modificar{
	font-size: xx-large;
	font-weight: bold;
	padding: 15px;
	text-align: center;
}

.atras{
  margin:15px;

}
.atras a{
  width: 230px;
  margin: 15px;
  padding: 5px;
  font-size:large;
  font-weight: bold;
}

.atras a:link,.atras a:visited {
    background-color: black;
    color: white;

    /*padding: 14px 25px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.atras a:hover,.atras a:active {
    background-color: red;
}

.contenedor-nuevo{

  font-size: large;
  margin: 15px;
  padding: 15px;
}

.contenedor-nuevo label{
  margin: 50px;
}

.contenedor-nuevo input{
  margin: 50px;
}

.contenedor-nuevo button{
  margin:25px;
  text-align: center;
  
  font-size: large;
   background-color: darkblue;
  border:2px solid darkblue;

  
  color: white;

}

.contenedor-nuevo button:hover{
  margin:25px;
  border:2px solid blue;
  background-color: blue;

}


/**/

.contenedor-modificar{

  font-size: large;
  margin: 15px;
  padding: 15px;
}

.contenedor-modificar label{
  margin: 50px;
}

.contenedor-modificar input{
  margin: 50px;
}

.contenedor-modificar button{
  margin:25px;
  text-align: center;
  
  font-size: large;
   background-color: darkblue;
  border:2px solid darkblue;

  
  color: white;

}

.contenedor-modificar button:hover{
  margin:25px;
  border:2px solid blue;
  background-color: blue;

}

.contenedor-modificar span{
  background: black;
  font-size: xx-large;
  width: 500px;
}