
body{
	background-image: url("../img/fondo2.jpg");
	font-size: 100%;
}

.menu_principal{
  	margin: auto;    
  	border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background: rgba(0,0,0,0.5);
  	text-align: center;
  	color: white;
  	font-size: xx-large;
}

a:hover{
	background: #4CAF50;
}

a{
  width: 230px;
  margin: 15px;
  float: right;
  margin-top: -6px;
  font-size:large;
  font-weight: bold;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

.campos-contacto{
	/*margin: 20px;*/
	background: rgba(0, 0, 0, 0.5);
	color: white;
  border-radius: 5px;
	overflow: fixed;
  /*text-align: center;*/
}

.campos-contacto button{
  margin: 15px;
  background-color: #333; /* Green */
  border: solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  margin-top: 10px;
  float: right;
}
.campos-contacto button:hover{
    background: #4CAF50;
    cursor: pointer;
}

.campos-contacto input{
	margin: 10px;
}

.titulo-contacto{
	font-size: xx-large;
	font-weight: bold;
	margin: 20px;
	padding: 15px;
	text-align: center;
}

.div-izquierdo{
  /*background: rgba(0, 0, 0, 0.5);*/
  margin-left: 80px;
  float: left;
}
.div-derecho{
  float: right;
  margin-right: 80px;
  /*background: rgba(0, 0, 0, 0.5);*/
}

.nom{
  width: 400px;
  height: 30px;
  font-size: large;
}

.tel{
  width: 185px;
  height: 30px;
  font-size: large;
}
.txt_area{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: large;
}


/*.atras{
  margin:15px;
  text-align: left;
}
.atras a{
  width: 230px;
  margin: 15px;
  padding: 5px;
  font-size:large;
  font-weight: bold;
}

.atras a:link,.atras a:visited {
    background-color: black;
    color: white;

    
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.atras a:hover,.atras a:active {
    background-color: red;
}
*/