
body{
	background-image: url("../img/fondo2.jpg");
	background-repeat: repeat-y;  /* Background image repite por el eje y */
  background-attachment: fixed; /* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
  background-size: cover;  /* This is what makes the background image rescale based on the container's size */
  background-color: #464646;  /* Set a background color that will be displayed while the background image is loading */
  font-size: 100%;
}
li {
    float: left;	/*los pone a la izq horizontalmente*/
    font-size: medium;
}

li a {
	display: block;	/*la menera en que se ven los items, como bloques*/
    color: white;
    padding: 15px 20px;
    text-decoration: none;	/*quita el subrayado del enlace*/
}
.img{
	display: block;
	margin: auto;
}
.menu_principal{
	/*margin-left: 100px;
  	margin-right: 100px;
  	margin-top: 0px;
  	margin-bottom: 200px;*/
  	margin: auto;
  	border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background: rgba(0,0,0,0.5);
  	/*opacity: 0.5;*/


  	text-align: center;
  	color: white;
  	font-size: xx-large;
}

.menus {
    list-style-type: none;	/*le quita el estilo que pueda tener por eso que son listas*/
    margin: auto;
    padding: 0;
    overflow: hidden;	/*specifies what to do if the content of an element exceeds the size of the element's box.*/
    background-color: #333;	/*color de fondo */
}
.menus li > ul{
	list-style: none;
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	min-width: 140px;
	background: #333;
}
.menus li:hover > ul{
	display: block;
}

/*a:hover:not(.active) {	/*no cambia .active

    background-color: #111;
    background: #4CAF50;
}*/
a:hover{
	background: #4CAF50;
}

.content_platillos{
	margin: auto;
	margin-top: 10px;
	height: 550px;
	background: #CC9933;
	opacity: 0.5;
	z-index: -1;
}
/*.active {
	background-color:#4CAF50;
}*/

.opciones1{
	float: left;
  margin: 150px;
  overflow: auto;
}

.opciones2{
  float: right;
  margin: 150px;
  overflow: auto;
}

.opciones1 a{
  width: 230px;
  margin: 15px;
  font-size:large;
  font-weight: bold;
}

.opciones1 a:link,.opciones1 a:visited {
    background-color: orange;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.opciones1 a:hover,.opciones1 a:active {
    background-color: yellow;
}

.opciones2 a{
  width: 230px;
  margin: 15px;
  font-size:large;
  font-weight: bold;
}

.opciones2 a:link,.opciones2 a:visited {
    background-color: orange;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.opciones2 a:hover,.opciones2 a:active {
    background-color: yellow;
}

a{
  width: 230px;
  margin: 15px;
  font-size:large;
  font-weight: bold;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

.lista-comentarios{


	background: rgba(0, 0, 0, 0.5);
	padding: 15px;
	margin: 5px;
}

.lista-comentarios li{
	float:none;
	border: 2px solid #4bceb4;
	border-radius: 1em;
	margin: 15px;
	padding: 10px;
	color: white;
	font-size: large;

	list-style-type: none;
}

.atras{
  margin:15px;

}
.atras a{
  width: 230px;
  margin: 15px;
  padding: 5px;
  font-size:large;
  font-weight: bold;
}

.atras a:link,.atras a:visited {
    background-color: black;
    color: white;

    /*padding: 14px 25px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.atras a:hover,.atras a:active {
    background-color: red;
}
.btn_eliminar{
    background-color: #333; /* Green */
    border: solid black;
    color: white;
    width: 80px;
    margin-top: 10px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
}
.btn_eliminar:hover{
  background: tomato;
  cursor: pointer;
}