body{
	background-image: url("../img/fondo2.jpg");
	background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: cover;
    text-align: center;
	font-size: 100%;
}

.menu-principal {

  	margin: auto;
  	border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background: rgba(0,0,0,0.5);
 
  	text-align: center;
  	color: white;
  	font-size: xx-large;
}

.menu-principal a{
  width: 230px;
  margin: 15px;
  font-size:large;
  font-weight: bold;
}

.menu-principal a:link,.menu-principal a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    /*text-align: center;*/
    text-decoration: none;
    display: inline-block;
}

.menu-principal a:hover,.menu-principal a:active {
    background-color: red;
}

.info-user{
	background: rgba(0,0,0,0.5);
	margin: 15px;
	height: 250px;
	margin-bottom: 40px;
	overflow: relative;
}

/*.info-user label{
	color: white;
	font-size: large;

	margin: 15px;
	
}*/

.mod_izq{
	float: left;
	font-size: large;
	margin-left: 120px;
	margin-top: 10px;
}
.mod_izq label{
	color: white;
	font-size: x-large;
	margin-bottom: 5px;
}
.mod_izq input{
	width: 300px;
	height: 30px;
	font-size: large;
	margin-bottom: 10px;
}
.mod_der{
	float: right;
	font-size: large;
	margin-right: 120px;
	margin-top: 10px;
}
.mod_der label{
	color: white;
	font-size: x-large;	
}
.mod_der input{
	width: 300px;
	height: 30px;
	font-size: large;
	margin-bottom: 10px;
}
/*.info-user input{
	margin:15px;

	/*text-align: right;
}*/

.info-user button {
	margin-top: 150px;
	background-color: #333; /* Gray */
    border: solid black;
    color: white;
    width: 200px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.info-user button:hover{
	background:#4CAF50;
	cursor: pointer;
}

.nuevo-user{
	background: rgba(0,0,0,0.5);
	margin: 15px;
	text-align: center;
	margin: 15px;
}

.nuevo-user label{
	color: white;
	font-size: large;
	margin: 15px;
	
}

.nuevo-user input{
	margin:15px;
	width: 300px;
	height: 30px;
	font-size: large;

}

.nuevo-user button {
	background-color: #333; /* Gray */
    border: solid black;
    color: white;
    width: 200px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 15px;
}

.nuevo-user button:hover{
	background: #4CAF50;
	cursor: pointer;
}


.buscar-user{
	background: rgba(0,0,0,0.5);
	margin: 15px;
	text-align: center;
	margin: 15px;
}

.buscar-user label{
	color: white;
	font-size: large;
	text-align: right;
	margin: 15px;
	
}

.buscar-user input{
	margin:15px;
	width: 300px;
	height: 30px;
	font-size: large;

}

.buscar-user button {
	background-color: #333; /* Gray */
    border: solid black;
    color: white;
    width: 200px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 15px;
}

.buscar-user button:hover{
	background: #4CAF50;
	cursor:pointer;
}
.buscar-user select{
	width: 300px;
	font-size: large;
}
.div-titulo, .div-titulo label{
	background-color: black;
  	color: white;
  	font-size: x-large;
}

.label-buscar{
	margin:15px;
}
.label-buscar label{
	font-size: x-large;
	color: yellow;
}
.campos {
	font-size: xx-large;
	color: white;
	
}
.no_user{
	font-size: x-large;
	color: red;
	/*font-weight: bold;*/
	margin: 15px;
}