
body{
    background-image: url("../img/fondo2.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    font-size: 100%;
}
li {
    float: left;    /*los pone a la izq horizontalmente*/
    font-size: medium;
}

li a {
    display: block; /*la menera en que se ven los items, como bloques*/
    color: white;
    padding: 15px 20px;
    text-decoration: none;  /*quita el subrayado del enlace*/
}
.img{
    display: block;
    margin: auto;
}
.menu_principal{
    /*margin-left: 100px;
      margin-right: 100px;
      margin-top: 0px;
      margin-bottom: 200px;*/
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    /*opacity: 0.5;*/
}

.menus {
    list-style-type: none;  /*le quita el estilo que pueda tener por eso que son listas*/
    margin: auto;
    padding: 0;
    overflow: hidden;   /*specifies what to do if the content of an element exceeds the size of the element's box.*/
    background-color: #333; /*color de fondo */
}
.menus li > ul{
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 140px;
    background: #333;
}
.menus li:hover > ul{
    display: block;
}

/*a:hover:not(.active) {    /*no cambia .active

    background-color: #111;
    background: #4CAF50;
}*/
a:hover{
    background: #4CAF50;
}

.content_platillos{
    margin: auto;
    margin-top: 10px;
    height: 550px;
    background: #CC9933;
    opacity: 0.5;
    z-index: -1;
}
/*.active {
    background-color:#4CAF50;
}*/

.lista-comentarios{
   /* height: 400px;*/
    width: 800px;
    background: rgba(0,0,0,0.2);
    margin-top: 20px;
    float: right;
    position: relative;
}
.lista-comentarios li{

    float: none;
    list-style-type: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border: 3px solid darkred;
    border-radius: 2em;
    padding: 5px;
    margin: 15px;
}

.div-agregar-comentario{
    background: rgba(0,0,0,0.2);
    margin-top: 20px;
    float: left;
}

.primeros-campos label{
    font-size: 20px;
    color: white;
    text-align: center;
}
.div-agregar-comentario input{
    width: 440px;
    height: 30px;
    font-size: medium;
}

.div-agregar-comentario button{

    background-color: #333; /* Green */
    border: solid black;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    float: right;
    margin-top: 10px;
}
.div-agregar-comentario button:hover{
    background: #4CAF50;
    cursor: pointer;
}

.div-agregar-comentario textarea{
    font-size: large;
    border-radius: 1px;
    margin-left: 20px;
}

.primeros-campos{

    margin: 20px;
}