
body{
    background-image: url("../img/fondo2.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    font-size: 100%;
}
li {
    float: left;	/*los pone a la izq horizontalmente*/
    font-size: medium;
}

li a {
    display: block;	/*la menera en que se ven los items, como bloques*/
    color: white;
    padding: 15px 20px;
    text-decoration: none;	/*quita el subrayado del enlace*/
}
.img{
    display: block;
    margin: auto;
}
.menu_principal{
    /*margin-left: 100px;
      margin-right: 100px;
      margin-top: 0px;
      margin-bottom: 200px;*/
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    /*opacity: 0.5;*/
}

.menus {
    list-style-type: none;	/*le quita el estilo que pueda tener por eso que son listas*/
    margin: auto;
    padding: 0;
    overflow: hidden;	/*specifies what to do if the content of an element exceeds the size of the element's box.*/
    background-color: #333;	/*color de fondo */
}
.menus li > ul{
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 140px;
    background: #333;
}
.menus li:hover > ul{
    display: block;
}

/*a:hover:not(.active) {	/*no cambia .active

    background-color: #111;
    background: #4CAF50;
}*/
a:hover{
    background: #4CAF50;
}

input {
    height: 30px;   
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: large;
    margin-right: 20px;
}
input:last-child{
    margin-bottom: 60px;
}

button {
    background-color: #333; /* Green */
    border: solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    float: right;
}

button:hover{
    background: #4CAF50;
    cursor: pointer;
}
.texto {
    margin-top:80px
    font-size: 40px;
    color:white;
    text-align: center;
    position: relative;
    display: block;
    padding: 20px;
    font-size: 24px;
    font-weight: 300;
    background: #333;
    text-decoration: none;
}
.otro_texto{
    font-size: large;
    color: white;
}

.datos1 {
    background: rgba(0,0,0,0.3);
    float: left;
}
.datos2{
    background: rgba(0,0,0,0.3);
    float: right;
    position: relative;
}
.el_div{
    margin:55px auto;
    width:95%;
    min-width:320px;
    max-width:960px;
}
